.container{
	background-image: url(../images/starring.png);
	min-height: 100%;
	
}

.wrapper{
	height: 700px;
	width: 960px;
	margin: auto;
	padding: 50px;
	background-image: url(../images/grilled.png);

}

#welcome {
	text-align: center;
}

#quiz{
	padding: auto;
	text-align: center;
}

#title {

	font-family: 'Sedgwick Ave', cursive;
	font-size: 100px;
	color: red;
	padding: 40px;
	margin: 30px 120px;
}


#startbutton{
	font-size: 20px;
}
.submit {
	font-size: 20px;
}